<%- include("layout/header.ejs") %>

<div class="text-center pt-2">
    <h2>LogIn As</h2>
</div>
<div class="text-center pt-5">
    <img src="/images/home/log2.png" alt="">
</div>
<div class="text-center pt-5">
    <a href="/student/search"><button class="btn btn-outline-primary ">Student</button></a> &nbsp; &nbsp;
    <a href="/teacher/login"><button class="btn btn-outline-primary">Teacher</button></a>
</div>

<%- include("layout/footer.ejs") %>
